<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary px-5">
    <div class="container-fluid position-relative">
        <a class="navbar-brand" href="#">Vietnam Travel Guide</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class=" navbar-nav ms-auto">
                <a class="nav-link active" aria-current="page" href="/home">Home</a>
                <a class="nav-link" href="/places">All Places</a>
                <a class="nav-link" href="/places/new">Add Places</a>
            </div>
            <div class="navbar-nav  ms-auto ">
                <% if (!currentUser) { %>
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register">Register</a>
                    <% } else {%>
                        <a class="nav-link" href="/logout">Logout</a>
                        <% } %>
            </div>
        </div>
    </div>
</nav>